@font-face {
    font-family: 'BeaufortforLOL-HeavyItalic';
    src: url('fonts/BeaufortforLOL-HeavyItalic.woff2') format('woff2');
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'BeaufortforLOL-HeavyItalic', sans-serif;
    text-align: center;
    cursor: url('cursor.png'), auto;
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#all {
    box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    border: 3px solid rgba(200, 155, 60, 0.6);
    background: linear-gradient(288.74deg, rgba(10, 20, 40, 0.3) 100%, rgba(9, 20, 40, 0.3) 200%);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 43px 53px 53px 0;
    width: 600px;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden; /* Hide overflowing content */
    padding-bottom: 150px; /* Extra padding at the bottom */
    
}

#image-screen {
    border-radius: 50px;
    border: 3px solid #C89B3C;
    background: rgba(217, 217, 217, 0.41);
    margin: 0 auto 17px auto;
    width: 262px;
    position: relative;
    height: 262px;
}

#prediction-title {
    margin: 0 auto;
}

input[type='image'],
label[for],
select,
button,
.pointer {
    cursor: url('cursor.png'), auto;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#prediction-label {
    font-weight: bold;
    color: #C8AA6E;
    font-size: 38px;
    font-family: 'Beaufort for LOL', 'Roboto Condensed', sans-serif;
}

#guess-input-container {
    position: relative;
    display: inline-block;
}


label {
    display: block;
    text-align: center; /* Etiket içeriğinin ortalanması */
}

#guess-input {
    border-radius: 20px;
    border: 3px solid #C89B3C;
    background: #1E282D;
    width: 500px;
    height: 70px;
    font-size: 56px;
    padding: 0px;
    padding-right: 10px;
    box-sizing: border-box;
    display: inline-block;
    font-family: 'Beaufort for LOL', 'Roboto Condensed';
    color: #a57231;
}

#guess-et-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50px;
    border: none;
    background-color: #C89B3C;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
}

#guess-et-btn:hover {
    background-color: #633b07;
}

#counter, #total-score {
    font-size: 34px;
    margin: 0 0 16px 36.2px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Beaufort for LOL', 'Roboto Condensed';
    font-weight: 900;
    color: #C89B3C;
}

#guess-bolumu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Beaufort for LOL', 'Roboto Condensed';
}

.guess-suggestions {
    text-align: center;
}

.guess-suggestions > div {
    border: 2px solid #C89B3C;
    border-radius: 15px;
    width: 400px;
    background: linear-gradient(145deg, #6b4f24, #8b6d3a);
    display: flex;
    align-items: center;
    cursor: url('cursor1.png'), auto;
    margin: 15px auto; /* Ortalama hizalama */
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.guess-suggestions > div:hover {
    transform: scale(1.05);
}

.guess-suggestions > div img {
    border-radius: 50%;
    border: 2px solid #3c61c8;
    width: 50px;
    height: 50px;
    margin: 10px;
    transition: border-color 0.3s ease;
}

.guess-suggestions > div:hover img {
    border-color: #ffffff;
}

.guess-suggestions > div span {
    font-size: 18px;
    color: #ffffff;
    flex-grow: 1;
    text-align: left;
    padding: 10px;
    font-weight: bold;
}


h1 {
    color: #C8AA6E;
}

#game-over-screen {
    display: none;
    margin-top: 50px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(94, 17, 17, 0.1);
    background-color: rgba(0, 0, 0, 0.8); /* Arkaplan rengi ekledik */
    padding: 20px;
    text-align: center;
}

#game-over-screen h2 {
    font-size: 44px;
    color: #360706;
}

#game-over-image {
    width: 100px;
    height: 100px;
    margin: 20px auto;
    display: block;
    border-radius: 10px;
    border: 2px solid #C89B3C;
}

#game-over-champion-name {
    font-size: 24px;
    color: #C89B3C;
    margin-bottom: 20px;
}




#total-score-text {
    font-size: 48px; /* Font boyutunu büyüttük */
    color: #C89B3C; /* Yazı rengini ayarladık */
    margin: 20px 0;
}

#final-score {
    font-size: 48px; /* Font boyutunu büyüttük */
    color: #C89B3C; /* Yazı rengini ayarladık */
    margin: 20px 0;
}

#tweet-btn {
    background-color: #0397AB;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#tweet-btn:hover {
    background-color: #0c7cbf;
}

#tweet-text {
    color: #0397AB;
    font-size: 28px;
    margin-bottom: 10px;
}

