@font-face {
    font-family: 'Beaufort for LOL Heavy Italic';
    src: local('Beaufort for LOL Heavy Italic'), url('fonts/BeaufortforLOL-HeavyItalic.woff2') format('woff2');
}
body {
    text-align: center;
    background-color: #1f2937; /* Arka plan rengi: "Nightblue" (#1f2937) */
}






body {
    font-family: 'Montserrat', sans-serif; 
    text-align: center;
    background-color: #000000; 
}

h1 {
    color: #ffffff; 
}

#resim-ekrani {
    max-width: 100%;
    margin: 20px 0;
}

label {
    font-weight: bold;
    color: #ffffff;
}

#tahmin-input {
    margin-right: 10px;
}

#tahmin-et-btn {
    background-color: #005A82; 
    color: #CDFAFA; 
    border: 2px solid #C89B3C; 
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

#tahmin-et-btn:hover {
    background-color: #C89B3C; /* Buton hover rengi: Koyu Electric Blue (#004366) */
    border: 2px solid #32281E;
}


#tahmin-et-btn:hover {
    background-color: #C89B3C; /* Buton hover rengi: Koyu Electric Blue (#2672d9) */

}

.guess-suggestions {
    text-align: center; /* Tahmin önerilerini merkezle */
}

.guess-suggestions > div {
    padding: 10px;
    background: #785A28; /* Öneri kutusu arka plan rengi: Beyaz (#ffffff) */
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 200px; /* Öneri kutularının genişliği */
    margin: 0 auto; /* Tahmin önerilerini sayfanın ortasında hizala */
    margin-bottom: 5px; /* Öneri kutuları arasındaki boşluk */
}

.guess-suggestions > div img {
    width: 40px; /* Şampiyon resmi genişliği */
    height: auto; /* Otomatik yükseklik */
    margin-right: 10px; /* Resim ile metin arasındaki boşluk */
}

.guess-suggestions > div span {
    font-size: 14px; /* Metin boyutu */
    color: #ffffff; /* Metin rengi: Beyaz (#ffffff) */
}
