@font-face {
    font-family: 'BeaufortforLOL-HeavyItalic';
    src: url('fonts/BeaufortforLOL-HeavyItalic.woff2') format('woff2');
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'BeaufortforLOL-HeavyItalic', sans-serif;
    text-align: center;
    background-color: #581313; 
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Ekran yüksekliği kadar */
    overflow: hidden;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* İçerik rengi */
    font-size: 2rem; /* İçerik boyutu */
}
h1 {
    color: #000000; 
}

#resim-ekrani {
    max-width: 100%;
    margin: 20px 0;
}

label {
    font-weight: bold;
    color: #ffffff;
}

#tahmin-input {
    margin-right: 10px;
}

#tahmin-et-btn {
    background-color: #005A82; 
    color: #CDFAFA; 
    border: 2px solid #C89B3C; 
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

#tahmin-et-btn:hover {
    background-color: #C89B3C; /* Buton hover rengi: Koyu Electric Blue (#004366) */
    border: 2px solid #32281E;
}


#tahmin-et-btn:hover {
    background-color: #C89B3C; /* Buton hover rengi: Koyu Electric Blue (#2672d9) */

}

.guess-suggestions {
    text-align: center; /* Tahmin önerilerini merkezle */
}

.guess-suggestions > div {
    padding: 10px;
    background: #785A28; /* Öneri kutusu arka plan rengi: Beyaz (#ffffff) */
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 200px; /* Öneri kutularının genişliği */
    margin: 0 auto; /* Tahmin önerilerini sayfanın ortasında hizala */
    margin-bottom: 5px; /* Öneri kutuları arasındaki boşluk */
}

.guess-suggestions > div img {
    width: 40px; /* Şampiyon resmi genişliği */
    height: auto; /* Otomatik yükseklik */
    margin-right: 10px; /* Resim ile metin arasındaki boşluk */
}

.guess-suggestions > div span {
    font-size: 14px; /* Metin boyutu */
    color: #ffffff; /* Metin rengi: Beyaz (#ffffff) */
}
