body {
    background-color: #F9D9D7;
    margin: 0;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.container {
    position: absolute;
    top: 50px;
    width: 800px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    user-select: none; /* Prevent text selection */

}

h1 {
    position: absolute;
    top: 220px;
    font-size: 30px;
    background-color: hsl(199, 43%, 44%);
    color: white;
    padding: 15px 32px;
    z-index: 1;
    display: inline-block;
    margin: 0;
    
}

#love-image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    z-index: 2;
    
}

#yes-button,
#no-button {
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    margin: 10px;
}

#yes-button {
    background-color: rgb(1, 184, 1);    
    position: absolute;
    top: 550px;
    left: 40%;
    transform: translateX(-50%);
}

#no-button {
    background-color: red;
    position: absolute;
    top: 550px;
    left: 60%;
    transform: translateX(-50%);
    transition: left 0.3s ease, top 0.3s ease;
}

#message {
    display: none;
    color: #f00;
    font-size: 24px;
    margin-top: 20px;
}

#hacked-message {
    display: none;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: green;
    font-family: monospace;
    font-size: 20px;
    text-align: left;
    background-color: black;
    padding: 20px;
    border: 2px solid #00ff00;
    width: 80%;
    max-height: 500px;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    user-select: none; /* Prevent text selection */

}
