html, body {
    overflow: hidden; 
}


body {
    font-family: 'Friz Quadrata', Arial, sans-serif; 
    background-color: #0f1923; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('background.jpg'); 
    background-size: cover;
    cursor: url('cursor.png'), auto;

}

.container {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    max-width: 1300px;
    width: 100%;
}

.title {
    font-size: 36px;
    text-align: center;
    position: relative;
    display: inline-block;
    color: #ffcc00;
    top: -20px; 

}

.title::before {
    content: '';
    display: inline-block;
    background-image: url('lefttitle.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px; 
    height: 100px; 
    margin-right: 10px; 
    vertical-align: middle; 
}

.title::after {
    content: '';
    display: inline-block;
    background-image: url('righttitle.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px; 
    height: 100px; 
    margin-left: 10px; 
    vertical-align: middle; 
}

.rank-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 800px;
    overflow-y: auto;
    width: 100%;
    padding: 15px;
}

.rank-card {
    display: flex;
    align-items: center;
    background-color: #23272a; 
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    width: 1200px;
    transition: all 0.3s ease;
    position: relative;
    color: #ffffff;
    border: 2px solid #e5b13a; 
    box-shadow: 0 0 20px rgba(229, 177, 58, 0.6);
}

.rank-card:hover {
    border-color: #f0f06a; 
    box-shadow: 0 0 25px rgba(240, 240, 106, 0.8);
}

.profile-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #4c4c4c;
    padding-right: 15px;
    padding-left: 15px;
}

.profile-img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid #e5b13a; 
}

.rank-info {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
}

.name-and-rank {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.rank-badge-img {
    width: 75px;
    height: 75px;
    margin-left: 20px;
    margin-right: 20px;
    border-left: 2px solid #4c4c4c;
    border-right: 2px solid #4c4c4c;
    padding-left: 5px;
    padding-right: 5px;
}

.name {
    font-weight: bold;
    font-size: 22px;
    color: #ffc3c3;
    text-shadow: 0 0 10px rgba(255, 195, 195, 0.7); 
}

.lp-and-profile {
    display: flex;
    align-items: center;
    gap: 15px;
}

.league-points {
    font-size: 30px;
    color: #ad4646;
}

.opgg-icon {
    width: 70px;
    height: 70px;
    cursor: url('cursor1.png'), auto;

}

.winrate {
    font-size: 20px;
    color: #e5b13a;
}

.wins-losses {
    font-size: 18px;
    color: #ffffff;
}

.stream-frame {
    width: 80%;
    height: 0;
    border: none;
    overflow: hidden;
    transition: height 0.5s ease;
    margin-top: 10px;
    height: 0;

}

.rank-card.active + .stream-frame {
    height: 700px;
}



.rank-list::-webkit-scrollbar {
    width: 12px; 
    background-color: #0e141b; 
}


.rank-list::-webkit-scrollbar-thumb {
    background-color: #e5b13a; 
    border-radius: 10px;
    border: 2px solid #0e141b; 
}


.rank-list::-webkit-scrollbar-thumb:hover {
    background-color: #f0f06a; 
}


.rank-list::-webkit-scrollbar-corner {
    background-color: #0e141b; 
}
